*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background: #ccf3f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    width: 350px;
    height: auto;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding: 30px;
    background: rgba(0, 0, 0, 0.911);
    border-radius: 20px;
}

.btn-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.btn{
    padding: 15px;
    font-size: 25px;
    color: white;
    border-radius: 10px;
    background: transparent;
    box-shadow: -10px -10px 25px rgba(0,0,0,0.2),8px 8px 27px rgba(255,255,255,0.1);
    cursor: pointer;
}

.EQ{
    grid-column: span 2;
}

.input-div{
    margin-top: 10px;
    border: none;
    max-width: 90%;
    display: flex;
    justify-content: center;
}

.input-div input{
    /* padding: 20px 30px; */
    max-width: 90%;
    font-size: 45px;
    text-align: center;
    background: transparent;
    border: none;
    color: white;
    font-weight: 700;
    outline: none;
}

.color
{
    color: #db1818;
}

@media screen and (max-width:450px){
    .calculator{
        width: 290px;
        height: auto;
        gap: 30px;
        padding: 20px;
        background: rgba(0, 0, 0, 0.911);
        border-radius: 15px;
    }

    
.btn{
    padding: 10px;
    font-size: 16px;
    color: white;
    border-radius: 8px;
    background: transparent;
    box-shadow: -10px -10px 25px rgba(0,0,0,0.2),8px 8px 27px rgba(255,255,255,0.1);
    cursor: pointer;
}
.color
{
    color: #db1818;
}
.btn-container{
    gap: 16px;
}
}

@media screen and (max-width:350px){
    .calculator{
        width: 230px;
        height: auto;
        gap: 20px;
        padding: 12px;
        background: rgba(0, 0, 0, 0.911);
        border-radius: 10px;
    }

    
.btn{
    padding: 7px;
    font-size: 12px;
    color: white;
    border-radius: 7px;
    background: transparent;
    box-shadow: -10px -10px 25px rgba(0,0,0,0.2),8px 8px 27px rgba(255,255,255,0.1);
    cursor: pointer;
}
.color
{
    color: #db1818;
}
.btn-container{
    gap: 12px;
}

.input-div input{
    font-size: 30px;
    font-weight: 600;

}
}